<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SampleApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="canvas">
                <span class="bi bi-easel-fill-nav-menu" aria-hidden="true"></span> Canvas Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="barchart">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span> Bar Chart
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timeseries">
                <span class="bi bi-graph-up-nav-menu" aria-hidden="true"></span> Time Series
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stress">
                <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> Stress Test
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="protocol-test">
                <span class="bi bi-bug-fill-nav-menu" aria-hidden="true"></span> Protocol Test
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test-ball">
                <span class="bi bi-circle-fill-nav-menu" aria-hidden="true"></span> Bouncing Ball
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calibration">
                <span class="bi bi-grid-3x3-nav-menu" aria-hidden="true"></span> Calibration
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="video-overlay">
                <span class="bi bi-layers-nav-menu" aria-hidden="true"></span> Video Overlay
            </NavLink>
        </div>
    </nav>
</div>

