# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# VS Code
.vscode/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test Results
[Tt]est[Rr]esults/
*.trx
*.coverage
*.coveragexml

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.pubxml

# OS Files
.DS_Store
Thumbs.db

# Playwright
playwright-report/
test-results/

# Sample app build artifacts
publish/
server.log
