@using System.Globalization
@using ModelingEvolution.BlazorBlaze.Js
@using SkiaSharp
@using Size = System.Drawing.Size
@inject ILogger<BlazorCanvas> _logger
@inject IJSRuntime _js

<div @ref="_containerRef" class="canvas-container"
style="position: relative; width: 100%; height: 100%; flex: 1;overflow: hidden;background-color: var(--mud-palette-dark);">
    @if (_ready)
    {
        <SKCanvasView OnPaintSurface="OnPaintSurface"
        EnableRenderLoop="true"
        tabindex="0"
        style="@_style"
        width="@_canvasBrowserSize.Width"
        height="@_canvasBrowserSize.Height"
        @onmousedown="(e) => _engine.EventManager.Queue(e, Control.MouseDown)"
        @onmousemove="(e) => _engine.EventManager.QueueBounded(e, Control.MouseMove)"
        @onmouseup="(e) => _engine.EventManager.Queue(e, Control.MouseUp)"
        @onclick="(e) => _engine.EventManager.Queue(e, Control.Click)"
        @ondblclick="(e) => _engine.EventManager.Queue(e, Control.DbClick)"
        @onkeypress="(e) => _engine.EventManager.Queue(e, Control.KeyPress)"
        @onkeydown="(e) => _engine.EventManager.Queue(e, Control.KeyDown)"
        @onkeyup="(e) => _engine.EventManager.Queue(e, Control.KeyUp)"
        @onwheel="(e) => _engine.EventManager.Queue(e, Control.MouseWheel)"/>
    }
</div>
@code {
    private BlazeEngine _engine;
    private ElementReference _containerRef;
    private float _devicePixelRatio;


    private string _cursor;
    private string _style;

    // This is logical size.
    [Parameter]
    public System.Drawing.Size Size { get; set; }

    [Parameter]
    public BlazeEngine Engine
    {
        get => _engine;
        set
        {
            if (_engine == value) return;
            _engine = value;
            _engine.Cursor.ObservableType().Subscribe(x => OnCursorChanged(x.Sender, x));
        }
    }

    bool _ready = false;
    Size _canvasBrowserSize;
    System.Drawing.Size CanvasBrowserSize
    {
        get
        {
            if (_engine != null!)
            {
                var tmp = _engine.Scene.Camera.BrowserControlSize;
                if (tmp.Width > 0)
                {
                    return new Size((int)tmp.Width, (int)tmp.Height);
                }
            }

            return _canvasBrowserSize;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (_engine.Extensions.TryGet<BrowserResizeExtension>(out var ext))
            {
                ext.ContainerRef = _containerRef;
                _canvasBrowserSize = await ext.Refresh(false);
                _ready = true;
                return;
            }

            var ex = new BrowserResizeExtension(_js, _containerRef);
            _engine.Extensions.Add(ex);
            _canvasBrowserSize = await ex.Refresh(false);
            _ready = true;
            this.StateHasChanged();
        }
    }



    protected override void OnParametersSet()
    {
        ComputeStyle();
        _engine.Scene.Size = Size;
    }
    //private void ComputeStyle() => _style = $"width: {Size.Width}px; height: {Size.Height}px;{_cursor};";
    private void ComputeStyle()
    {
        _style = $"position: absolute; left: 0; top: 0; {_cursor}";
    }

    private void OnCursorChanged(object arg1, MouseCursorType arg2)
    {
        _cursor = $"cursor:{arg2.Cursor}";
        ComputeStyle();
        Console.WriteLine($"Cursor changed:{arg2}");
    }


    private void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        try
        {
            var canvas = e.Surface.Canvas;
            canvas.Clear(SKColors.Black);
            Engine.Scene.Camera.ViewPort = e.Info.Rect;

            Engine.EventManager.DoEvents();
            Engine.Scene.Render(canvas, e.Info.Rect);
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error in render-loop.");
        }

    }


}
